.banner {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #555;
  flex-direction: column;
  h1 {
    color: #fff;
    font-size: 4em;
    font-weight: 300;
  }
}

.category-cover {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

a.box {
  width: calc(50% - 30px);
  height: 300px;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.box:nth-child(1) {
  background: url(/images/concert.jpg);
  background-size: cover;
}
.box:nth-child(2) {
  background: url(/images/restaurantfront.jpg);
  background-size: cover;
}
.box:nth-child(3) {
  background: url(/images/businesscomputer.jpg);
  background-size: cover;
}
.box:nth-child(4) {
  background: url(/images/busycity.jpg);
  background-size: cover;
}
.box h1 {
  width: 100vw;
  text-align: center;
  padding: 15px 0;
  color: white;
  background: rgba(100,100,100,0.7);
  font-weight: 400;
}

@media all and (max-width: 700px) {
  .category-cover {
    flex-direction: column;
  }
  a.box {
    width: 90vw;
  }
}
