#form-subject {
  width: 65%;
  margin: 5px 10px 5px 0;
  display: inline;
}

.report-form {
  width: 60%;
  margin: 0 auto;
}

label[for="categories"] {
  margin-right: 10px;
}

label[for="categories"],
select[name="category"] {
  display: inline;
}

select,
label {
  display: block;
}

.report-form > * {
  margin: 10px 0;
}

.form-container {
  padding: 0 20px;
}

@media all and (max-width: 1020px) {
  .report-form {
    width: 65%;
  }
}
@media all and (max-width: 820px) {
  .report-form {
    width: 70%;
  }
}
@media all and (max-width: 650px) {
  .report-form {
    width: 75%;
  }
}
@media all and (max-width: 905px) {
  #form-subject {
    width: 100%;
  }
  label[for="categories"] {
    display: inline-block;
    margin-right: 10px;
  }
}
