.report-form {
  width: 60%;
  margin: 0 auto;
}

select {
  display: block;
}

.report-form > * {
  margin: 5px 0;
}

.form-container {
  padding: 0 20px;
}

@media all and (max-width: 1020px) {
  .report-form {
    width: 65%;
  }
}
@media all and (max-width: 820px) {
  .report-form {
    width: 70%;
  }
}
@media all and (max-width: 650px) {
  .report-form {
    width: 75%;
  }
}
