.login-box {
  margin-top: 100px;
}

.form-login {
  background-color: #ededed;
  padding: 20px 30px 30px 30px;
  border-radius: 20px;
  border-color: #d2d2d2;
  border-width: 5px;
  box-shadow: 0 1px 0 #cfcfcf;
  max-width: 400px;
  margin: 0 auto;
}

h4 {
  border: 0 solid #fff;
  border-bottom-width: 1px;
  padding-bottom: 10px;
  text-align: center;
}

.form-control {
  border-radius: 10px;
}

.wrapper {
  text-align: center;
}
