.post-details {
  padding: 20px;
  width: 50vw;
  margin: 0 auto;
  p {
    font-size: 1.5em;
    margin: 0 auto;
  }
}
.post-details > * {
  text-align: center;
}

@media all and (max-width: 950px) {
  .post-details {
    width: 70vw;
  }
}
@media all and (max-width: 650px) {
  .post-details {
    width: 90vw;
  }
}
