<nav class="navbar">
  <a href="#" class="logo" id="logo">Find Now</a>
  <div class="dropdown pull-right">
    <li class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      ☰
    </li>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li ng-show="navCtrl.isLoggedIn()">
        <a ui-sref="profile">{{navCtrl.user.name}}</a>
      </li>
      <li ng-show="navCtrl.isLoggedIn()">
        <a ng-click="navCtrl.logout()">Log Out</a>
      </li>
      <li ng-show="!navCtrl.isLoggedIn()">
        <a ui-sref="login">Log in</a>
      </li>
      <li ng-show="!navCtrl.isLoggedIn()">
        <a ui-sref="signup">Sign Up</a>
      </li>
    </ul>
  </div><!-- End of Dropdown -->
</nav>

<header class="banner">
  <h1>Categories</h1>
</header>

<div class="category-cover">
  <a ui-sref="events" class="box"><h1>Events</h1></a>
  <a ui-sref="restaurants" class="box"><h1>Restaurants</h1></a>
  <a ui-sref="businesses" class="box"><h1>Businesses</h1></a>
  <a ui-sref="publicareas" class="box"><h1>Public Areas</h1></a>
</div>
