<nav class="navbar">
  <a href="#" class="logo" id="logo">Find Now</a>
  <div class="dropdown pull-right">
    <li class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      ☰
    </li>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li ng-show="navCtrl.isLoggedIn()">
        <a ui-sref="profile">{{navCtrl.user.name}}</a>
      </li>
      <li ng-show="navCtrl.isLoggedIn()">
        <a ng-click="navCtrl.logout()">Log Out</a>
      </li>
      <li ng-show="!navCtrl.isLoggedIn()">
        <a ui-sref="login">Log in</a>
      </li>
      <li ng-show="!navCtrl.isLoggedIn()">
        <a ui-sref="signup">Sign Up</a>
      </li>
    </ul>
  </div><!-- End of Dropdown -->
</nav>

<header class="banner">
  <h1>{{vm.post.category}}</h1>
</header>

<div class="breadcrumbs">
  <a ui-sref="welcome">Home</a> /
  <a ui-sref="categories">Categories</a> /
  <a onClick="goBack()">{{vm.post.category}}</a>
</div>

<div class="post-details">
  <h1>Subject:</h1>
  <p>{{vm.post.subject}}</p>

  <h1>Description:</h1>
  <p>{{vm.post.description}}</p>

  <h1>Contact Info:</h1>
  <p>{{vm.post.name}}</p>
  <p>{{vm.post.phone}}</p>
  <p>{{vm.post.email}}</p>
</div>

<script>
function goBack() {
  window.history.back();
}
</script>
