<nav class="navbar">
  <a href="#">Find Now</a>
</nav>

<div class="container">
  <form>
    <label for="subject">Subject:</label>
    <input type="email" class="form-control" required>
    <label for="description">Description:</label>
    <textarea class="form-control" cols="10" rows="5" required></textarea>
    <h4>Contact Info</h4>
    <label for="name">Name:</label><input type="text" class="form-control">
    <label for="phone">Phone:</label><input type="text" class="form-control">
    <label for="email">Email:</label><input type="text" class="form-control">
    <label for="email">Photo:</label><input type="file">

    <button class="btn btn-lg btn-success" type="submit" name="action">Submit</button>
  </form>
</div>
