<nav id="main" class="fixed-nav">
  <a href="#">Find Now</a>
</nav>
<header class="welcome-bg">
  <h1>Lost Your Items? No Problem.</h1>
  <p>FindNow uses a reliable, easy-to-use posting forum
  for you to quickly <br>find your lost items without all the
  frustration and lost time.</p>
  <p>See More Below</p>
</header>
<div id="welcome-container">
  <button ui-sref="categories" class="item-box">Find My Lost Items</button>
  <button ui-sref="reportform" class="item-box">Report Missing Items</button>
</div>

<script>
  const nav = document.querySelector('#main');
  let topOfNav = nav.offsetTop;
  function fixNav() {
    if(!window.scrollY == topOfNav) {
      document.body.classList.add('show-nav');
    } else {
      document.body.classList.remove('show-nav');
    }
  }
  window.addEventListener('scroll', fixNav);
</script>
