<nav id="main" class="fixed-nav">
  <a href="#">Find Now</a>
</nav>
<header class="welcome-bg">
  <div></div>
  <div>
    <h1 class="welcome-text">Lost Your Items? No Problem.</h1>
    <p class="welcome-text">FindNow uses a reliable, easy-to-use posting forum
    for you to <br>quickly find your lost items without all the
    frustration and lost time.</p>
  </div>
  <a onClick="navigation()" data-nav-section="info" class="welcome-text">See More Below</a>
</header>
<div id="welcome-container" data-section="info">
  <button ui-sref="categories" class="button button--state-success">Find My Lost Items</button>
  <button ui-sref="reportform" class="button button--state-danger">Report Missing Items</button>
</div>

<script>
  nav = document.querySelector('#main');
  function fixNav() {
    (!window.scrollY == nav.offsetTop) ? document.body.classList.add('show-nav') : document.body.classList.remove('show-nav');
  }

  function navigation() {
  const section = document.querySelector('a[class="welcome-text"]');
    $('body').on('click', 'a[class="welcome-text"]', (e) => {
      $('html, body').animate({
        scrollTop: section.offsetTop
      }, 1000, 'easeInOutExpo');
      e.preventDefault();
    });
  };

  window.addEventListener('scroll', fixNav);
</script>
