<nav id="main" class="fixed-nav">
  <a href="#" class="logo">Find Now</a>
  <div class="dropdown pull-right">
    <li class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      ☰
    </li>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li ng-show="navCtrl.isLoggedIn()">
        <a ui-sref="profile">{{navCtrl.user.name}}</a>
      </li>
      <li ng-show="navCtrl.isLoggedIn()">
        <a ng-click="navCtrl.logout()">Log Out</a>
      </li>
      <li ng-show="!navCtrl.isLoggedIn()">
        <a ui-sref="login">Log in</a>
      </li>
      <li ng-show="!navCtrl.isLoggedIn()">
        <a ui-sref="signup">Sign Up</a>
      </li>
    </ul>
  </div><!-- End of Dropdown -->
</nav>
<div class="welcome-overlay"></div>
<header class="welcome-bg">
  <div></div>
  <div class="header-caption">
    <h1 class="header-text">Lost Your Items? No Problem.</h1>
    <p class="header-text">FindNow uses a reliable, easy-to-use posting forum
    for you to <br>quickly find your lost items without all the
    frustration and lost time.</p>
  </div>
  <a onClick="navigation()" data-nav-section="info" class="header-text">See More Below</a>
</header>
<div id="welcome-container" data-section="info">
  <button ui-sref="categories" class="button button--state-success">Find My Lost Items</button>
  <button ui-sref="reportform" class="button button--state-danger">Report Missing Items</button>
</div>

<script>
  nav = document.querySelector('#main');
  function fixNav() {
    (!window.scrollY == nav.offsetTop) ? document.body.classList.add('show-nav') : document.body.classList.remove('show-nav');
  }

  function navigation() {
  const section = document.querySelector('a[class="header-text"]');
    $('body').on('click', 'a[class="header-text"]', (e) => {
      $('html, body').animate({
        scrollTop: section.offsetTop
      }, 1000, 'easeInOutExpo');
      e.preventDefault();
    });
  };

  window.addEventListener('scroll', fixNav);
</script>
