.welcome-bg {
  background: url(/images/lostglasses.jpg) bottom center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  text-align: center;
}
.welcome-text {
  margin-bottom: 10px;
  color: #fff;
  font-weight: 300;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.7);
  padding: 0 6px;
}
.welcome-bg div h1 {
  font-size: 3.5em;
}
p.welcome-text,
a.welcome-text {
  font-size: 1.6em;
  text-decoration: none;
}

a.welcome-text:hover {
  color: #fff;
}

#welcome-container {
  display: flex;
  align-items: flex-start;
  height: 100%;
}

.button {
  width: 50vw;
  min-height: 230px;
  height: 40vh;
  font-size: 50px;
  font-family: sans-serif, Arial, Helvetica,;
  font-weight: 100;
  letter-spacing: 1px;
  text-align: center;
  padding: 10px;
  margin: 25px;
}

.button--state-success {
  color: #FFF;
  background: #569E3D linear-gradient(#79D858, #569E3D) repeat-x;
  border-color: #4A993E;
}

.button--state-danger {
  color: #FFF;
  background: #a90e01 linear-gradient(#ca3d20, #a90e00) repeat-x;
  border-color: #9c0c00;
}

@media all and (max-width: 650px) {
  #welcome-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .button {
    min-height: 20vh;
    width: 90vw;
    font-size: 8.5vw;
  }
  .welcome-bg div h1 {
    font-size: 7.5vw;
  }
  p.welcome-text,
  a.welcome-text {
    font-size: 3.4vw;
  }
}
