<nav class="navbar">
  <a href="#" class="logo" id="logo">Find Now</a>
  <div class="dropdown pull-right">
    <li class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      ☰
    </li>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li ng-show="navCtrl.isLoggedIn()">
        <a ui-sref="profile">{{navCtrl.user.name}}</a>
      </li>
      <li ng-show="navCtrl.isLoggedIn()">
        <a ng-click="navCtrl.logout()">Log Out</a>
      </li>
      <li ng-show="!navCtrl.isLoggedIn()">
        <a ui-sref="login">Log in</a>
      </li>
      <li ng-show="!navCtrl.isLoggedIn()">
        <a ui-sref="signup">Sign Up</a>
      </li>
    </ul>
  </div><!-- End of Dropdown -->
</nav>

<div class="container login-box">
  <div class="text-center">
    <div class="form-login">
      <h4>Welcome back.</h4>
      <form class="form-signin" ng-submit="userCtrl.login()">
        <input type="email" class="form-control input-sm chat-input" ng-model="userCtrl.user.email" placeholder="email" required/>
        </br>
        <input type="password" class="form-control input-sm chat-input" ng-model="userCtrl.user.password" placeholder="password" required/>
        </br>
        <button class="btn btn-md btn-primary" type="submit" name="action">login</button>
      </form>
    </div>
  </div>
</div>
