<nav class="navbar">
  <a href="#" class="logo" id="logo">Find Now</a>
  <div class="dropdown pull-right">
    <li class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      ☰
    </li>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li ng-show="navCtrl.isLoggedIn()">
        <a ng-click="navCtrl.logout()">Log Out</a>
      </li>
      <li ng-show="!navCtrl.isLoggedIn()">
        <a ui-sref="login">Log in</a>
      </li>
      <li ng-show="!navCtrl.isLoggedIn()">
        <a ui-sref="signup">Sign Up</a>
      </li>
    </ul>
  </div><!-- End of Dropdown -->
</nav>

<div class="main-wrapper">
  <br><br><br>
  <div class="container text-center">
    <header class="header-text">Sign Up</header>
    <h4 class="header-text">Create an Account</h4>
      <form class="form-signin" ng-submit="userCtrl.signup()">
        <input ng-model="userCtrl.user.name" placeholder="Name" autocomplete="off" id="name" type="text" class="form-control" required>
        <input ng-model="userCtrl.user.email" placeholder="Email" autocomplete="off" id="email" type="email" class="form-control" required>
        <input ng-model="userCtrl.user.password" placeholder="Password" autocomplete="off" id="password" type="password" class="form-control" required>
        <br>
        <button class="btn btn-primary" type="submit" name="action">Sign Up</button>
      </form>
    <button ui-sref="login" class="btn-danger btn btn-md">Have an Account?</button>
  </div>
</div>
